h1 {
color: blue;
}

p {
  color: red;
  font-family: Helvetica;
}

ul li {
  background-color: yellow;
}

h2 {
  color: green;
  background-color: orange;
}

ol li {
  background-color: teal;
}

#unique {
  color: red;
}

.human {
  color: purple;
}
